img {
  width: 100%;
  /* the rules below will force your object to be "zoomed in" to cover the available space, given it needs to fit 100% of its parent container's height.  you can play around with different values for object-fit to see what you'd like */
  object-fit: cover;
  height: 100%;
}

h1, h2 {
  display: block;
  text-align: center;
  background-color: lightblue;
}
.home-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.img2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
}

.img6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.img4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.img5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

.img1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
}

.prints {
  display: grid;
  grid-row-gap: 10px;
}

.content {
  display: block;
  text-align: center;
  background-color: lightblue;
}

.contact {
  display: block;
  text-align: center;
  background-color: lightblue;
}
